@charset "utf-8";
// Customization
// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/sass/utilities/initial-variables";



@import "../node_modules/bulma/bulma";

body {
    color: #4a4a4a;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.0;
}

.hero-logo {
    max-height: 40rem
}

.bg-img {
    background-image: url(../images/bg-img.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #999;
}

.option {
    margin-top: 3rem;
}

.footer-logo {
    max-height: 1.75rem;
}